{
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "presets": ["env", "flow", "react"],
  "retainLines": true
}
