{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "syntax": "scss",
  "rules": {
    "property-no-vendor-prefix": null,
    "declaration-colon-newline-after": null,
    "value-list-max-empty-lines": null
  }
}
